@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hey there, Welcome to my page</h1>
    <p> This is my self paced practise project, slowly but surely would get there</p>
</div>
